<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Amazon Cognito authentication with Node example</title>
</head>
<body>
<div>
    <h1>Amazon Cognito User Pool Demo</h1>

    <% if (isAuthenticated) { %>
        <div>
            <h2>Welcome, <%= userInfo.username || userInfo.email %></h2>
            <p>Here are some attributes you can use as a developer:</p>
            <p><%= JSON.stringify(userInfo, null, 4) %></p>
        </div>
        <a href="/logout">Logout</a>
    <% } else { %>
        <p>Please log in to continue</p>
        <a href="/login">Login</a>
    <% } %>

    <form id="uploadForm">
        <input type="file" id="fileInput" />
        <button type="button" id="uploadButton">Upload File</button>
    </form>
    
    <script src="/script.js"></script>
    <script src="/sendToQueue.js"></script>
    <script>
      document.getElementById('uploadButton').addEventListener('click', async () => {
        await uploadFile();
        await sendToQueue(document.getElementById('fileInput').files[0].name, "<%= userInfo.email %>");
      });
    </script>
    
</div>
</body>
</html>
